/* Colors
Yellow: #F9C80E
Orange: #F86624
Light Blue: 06AED5
Darker Blue: 086788
White: FFFDDD
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*
    Features
*/

.border {
    border: 1px solid black;
}

#featuredActivities {
    border: 1px solid black;
    padding: 4%;
}

#title {
    text-align: center;
    font-size: 400%;
    padding: 2%;
}

.caption {
    display: grid;
    grid-template-columns: 60% 40%;

    padding-top: 2%;
    padding-bottom: 2%;
}

.caption h2 {
    text-align: left;
    font-size: 300%;
}

.caption h3 {
    text-align: right;
    font-size: 250%;
}

/*
    Footer
*/

footer {
    border: 1px solid black;
    position: fixed;
    bottom: 0;

    background: #f5b335;
    text-align: center;
    font-size: 32px;
    height: 100px;
    width: 100%;
    transition: all 0.35s ease-in-out;
    opacity: 1;
    z-index: 300;

    display: block;
}

.nav-up {
    opacity: 0.25;
    bottom: -25%;
}

footer h1 {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    padding: 2%;
}

#profile {
    transform: translate(-250%, -50%);
    padding: 1%;
    width: 150px;
    height: 150px;
}

/* 
    profile
*/

#profile-card {
    position: fixed;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80%;
    padding: 2%;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 36px;

    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

#profile-card.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

#blur.active {
    filter: blur(30px);
    pointer-events: none;
    transition: 0.5s;
}

#blur {
    filter: blur(0px);
    pointer-events: all;
    transition: 0.5s;
}

.image-container {
    position: relative;
}

.info {
    padding-left: 2%;
    color: #4b4fe2;
    margin-right: 2%;
}

.label {
    display: grid;
    grid-template-columns: 10% auto;
}

.textbox {
    width: 104%;
    margin-left: -2%;
    background-color: #fff;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    font-size: 32px;
    padding: 2%;
}

.textbox i {
    text-align: center;
    font-size: 56px;
}

.textbox input {
    margin-left: 2%;
    padding-left: 2%;
}

.main-container {
    padding: 2%;
}

.title h2 {
    font-size: 72px;
    color: #fff;
    position: absolute;
    left: 4%;
    bottom: 4%;
}

#child-container {
    display: flex;
    flex-wrap: wrap;
}

#child-container img {
    flex: 1;
    padding: 2%;
    width: 25%;
}